@import '../../base.less';


.swiper-button-prev {
  color: @primary-color;
}

.swiper-button-next {
  color: @primary-color;
}

.people-box {
  width: 50vh;
  position: relative;
}

.people-img {
  width: 50vh;
}

.people-container {
  height: 70vh;
}

.people-text {
  color: white;
  background-color: @primary-color;
  position: absolute;
  padding: 3px;
  left: 40px;
  bottom: 0px;
}

.people-name {
  color: white;
  font-size: 25px;
  padding: 10px;
  background-color: @primary-color;
  position: absolute;
  left: 30px;
  top: 10px
}

.team-swiper {
  width: 100vh;
}

