@import '../base.less';

.title {
  background: rgb(121, 242, 157);
}

.index-swiper-container {
  margin: -24px -24px 0;
  // height: 100vh;
  overflow: hidden;
}

.index-swiper {
  margin: -24px -24px 0;
  // height: 100vh;
  overflow: hidden;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
  }
  .swiper-pagination-bullet-active {
    background-color: @primary-color;
  }
}

.swiper-button-prev {
  color: @primary-color;
}

.swiper-button-next {
  color: @primary-color;
}

index-slide {
  position: relative;
}

slide-box {
  position: absolute;
}

.index-sub-title {
  color: @primary-color;
  text-align: center;
  font-size: 24px;
}

.full-page {
  margin: -24px -24px 0;
}

.index-carousel-container {
  height: 65%;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 30px;
}
