@import '../../base.less';

.council-title {
  font-size: 47px;
  color: @primary-color;
}

.council-card {
  // min-width: 50vh;
  // min-height: 30vh;
}

.council-ava {
  width: 15vh;
  height: 15vh;
}

.council-ava-boss {
  width: 15vh;
  height: 15vh;
}

.council-pos-name-boss {
  border-bottom: 1px solid @primary-color;
}

.council-pos {
  // margin-top: 5px;
  font-size: 20px;
}

.council-name {
  // color: @primary-color;
  // margin-top: 5px;
  color: @primary-color;
  margin-left: 15px;
  font-size: 20px;
}

.council-desc {
  // color: @primary-color;
  // margin-top: 3px;
  border-left: 1px solid @primary-color;
  padding-left: 12px;
  // margin-bottom: 5px;
}

.full-page {
  margin: -24px -24px 0;
}
