@import '../../base.less';

.timeline-box {
  margin-top: 30px;
}

.timeline-title {
  margin-top: 24px;
  font-size: 44px;
  text-align: center;
  color: @primary-color;
}

.tl-right {
  margin-left: 20px;
  height: 10vh;
}

.tl-left {
  margin-right: 20px;
  height: 10vh;
}

.time-dot {
  border-radius: 50%;
	width: 58px;
  height: 58px;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 58px;
}
